<form action="/signup/" method="post">
    <label for="user">Username: </label>
        <input type="text" id="user" name="username"><br><br>
    <label for="mail">E-mail:</label>
        <input type="text" id="mail" name="email"><br><br>
    <label for="phone">Phone Number:</label>
        <input type="text" id="phone" name="phone_number"><br><br> 
    <input type="submit" value="Submit">
</form>